<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
        "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

        <vendor>The systemd Project</vendor>
        <vendor_url>http://www.freedesktop.org/wiki/Software/systemd</vendor_url>

        <action id="org.freedesktop.systemd1.reply-password">
                <description>Send passphrase back to system</description>
                <description xml:lang="be">Адправіць пароль назад сістэме</description>
                <description xml:lang="be@latin">Adpravić paroĺ nazad sistemie</description>
                <description xml:lang="de">Passphrase zurück an das System senden</description>
                <description xml:lang="el">Αποστολή του συνθηματικού πίσω στο σύστημα</description>
                <description xml:lang="es">Devolver contraseña al sistema</description>
                <description xml:lang="fr">Renvoyer la phrase secrète au système</description>
                <description xml:lang="hu">Jelmondat visszaküldése a rendszernek</description>
                <description xml:lang="it">Inviare la frase segreta (passphrase) al sistema</description>
                <description xml:lang="pl">Wysłanie hasła z powrotem do systemu</description>
                <description xml:lang="pt_BR">Enviar frase secreta de volta ao sistema</description>
                <description xml:lang="ru">Отправить пароль системе</description>
                <description xml:lang="sv">Skicka tillbaka lösenfras till system</description>
                <description xml:lang="uk">Надіслати пароль назад у систему</description>
                <description xml:lang="zh_TW">傳回密碼片語到系統</description>
                <message>Authentication is required to send the entered passphrase back to the system.</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для адпраўкі пароля назад сістэме.</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia adpraŭki parolia nazad sistemie.</message>
                <message xml:lang="de">Legitimierung ist zum Senden des eingegebenen Kennworts zurück an das System notwendig.</message>
                <message xml:lang="el">Απαιτείται πιστοποίηση για αποστολή του εισερχόμενου συνθηματικού πίσω στο σύστημα.</message>
                <message xml:lang="es">Se requiere autenticación para devolver la contraseña introducida al sistema.</message>
                <message xml:lang="fr">Authentification requise pour renvoyer la phrase secrète au système.</message>
                <message xml:lang="hu">Hitelesítés szükséges a bevitt jelmondat visszaküldéséhez a rendszernek.</message>
                <message xml:lang="it">Autenticazione richiesta per inviare la frase segreta (passphrase) al sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby wysłać podane hasło z powrotem do systemu.</message>
                <message xml:lang="pt_BR">É necessária autenticação para enviar a frase secreta informada de volta ao sistema.</message>
                <message xml:lang="ru">Чтобы отправить пароль системе, необходимо пройти аутентификацию.</message>
                <message xml:lang="sv">Autentisering krävs för att skicka tillbaka den angivna lösenfrasen till systemet.</message>
                <message xml:lang="uk">Засвідчення потрібно, щоб надіслати введений пароль назад у систему.</message>
                <message xml:lang="zh_TW">傳回已輸入的密碼片語到系統需要驗證。</message>
                <defaults>
                        <allow_any>no</allow_any>
                        <allow_inactive>no</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
                <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/systemd/systemd-reply-password</annotate>
        </action>

        <action id="org.freedesktop.systemd1.manage-units">
                <description>Manage system services or other units</description>
                <description xml:lang="be">Кіраваць сэрвісамі і іншымі сістэмнымі адзінкамі</description>
                <description xml:lang="be@latin">Kiravać servisami i inšymi sistemnymi adzinkami</description>
                <description xml:lang="es">Administrar servicios del sistema u otras unidades</description>
                <description xml:lang="fr">Gérer les services système ou les unités</description>
                <description xml:lang="it">Gestisci i servizi o le altre unità di sistema</description>
                <description xml:lang="pl">Zarządzanie usługami lub innymi jednostkami systemu</description>
                <description xml:lang="sv">Hantera systemtjänster eller andra enheter</description>
                <description xml:lang="zh_TW">管理系統服務或其他單位</description>
                <message>Authentication is required to manage system services or other units.</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для кіравання сэрвісамі і іншымі сістэмнымі адзінкамі.</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia kiravannia servisami i inšymi sistemnymi adzinkami.</message>
                <message xml:lang="es">Se requiere autenticación para administrar los servicios de sistema u otras unidades.</message>
                <message xml:lang="fr">Authentification requise pour gérer les services système ou les unités.</message>
                <message xml:lang="it">Autenticazione richiesta per gestire i servizi o le altre unità di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zarządzać usługami lub innymi jednostkami systemu.</message>
                <message xml:lang="sv">Autentisering krävs för att hantera systemtjänster eller andra enheter.</message>
                <message xml:lang="zh_TW">管理系統服務或其他單位需要驗證。</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.systemd1.manage-unit-files">
                <description>Manage system service or unit files</description>
                <description xml:lang="be">Кіраваць файламі сэрвісаў і іншых сістэмных адзінак</description>
                <description xml:lang="be@latin">Kiravać fajlami servisaŭ i inšych sistemnych adzinak</description>
                <description xml:lang="de">Systemdienste und Einheitendateien verwalten</description>
                <description xml:lang="es">Administrar servicio del sistema o archivos de unidad</description>
                <description xml:lang="fr">Gérer le service système ou ses fichiers unités</description>
                <description xml:lang="hu">Rendszerszolgáltatás- vagy egységfájlok kezelése</description>
                <description xml:lang="it">Gestisci i file dei servizi o delle unità di sistema</description>
                <description xml:lang="pl">Zarządzanie plikami usług lub jednostek systemu</description>
                <description xml:lang="pt_BR">Gerenciar arquivos de unidades e serviços do sistema</description>
                <description xml:lang="ru">Управление файлами конфигурации системных служб и юнитов</description>
                <description xml:lang="sv">Hantera systemtjänster eller enhetsfiler</description>
                <description xml:lang="zh_TW">管理系統服務或單位檔案</description>
                <message>Authentication is required to manage system service or unit files.</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для кіравання файламі сэрвісаў і іншых сістэмных адзінак.</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia kiravannia fajlami servisaŭ i inšych sistemnych adzinak.</message>
                <message xml:lang="de">Legitimierung ist notwendig für die Verwaltung von Systemdiensten und Einheitendateien.</message>
                <message xml:lang="es">Se requiere autenticación para administrar el servicio de sistema o los archivos de unidad.</message>
                <message xml:lang="fr">Authentification requise pour gérer le service système ou ses fichiers unités.</message>
                <message xml:lang="hu">Hitelesítés szükséges a rendszerszolgáltatás- vagy egységfájlok kezeléséhez.</message>
                <message xml:lang="it">Autenticazione richiesta per gestire i file dei servizi o delle unità di sistema.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby zarządzać plikami usług lub jednostek systemu.</message>
                <message xml:lang="pt_BR">É necessária autenticação para gerenciar arquivos "unit" e "service" do sistema.</message>
                <message xml:lang="ru">Для управления файлами конфигурации системных служб и юнитов, необходимо пройти аутентификацию.</message>
                <message xml:lang="sv">Autentisering krävs för att hantera systemtjänster eller enhetsfiler.</message>
                <message xml:lang="zh_TW">管理系統服務或單位檔案需要驗證。</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.systemd1.set-environment">
                <description>Set or unset system and service manager environment variables</description>
                <description xml:lang="be">Усталяваць або скінуць зменныя асяроддзя сістэмнага мэнэджэра</description>
                <description xml:lang="be@latin">Ustaliavać abo skinuć zmiennyja asiaroddzia sistemnaha menedžera</description>
                <description xml:lang="es">Administrar variables de entorno del sistema y del gestor de servicios</description>
                <description xml:lang="fr">Définir ou supprimer des variables d'environnement du système ou du gestionnaire de services</description>
                <description xml:lang="it">Configura le variabili d'ambiente per la gestione dei servizi e del sistema</description>
                <description xml:lang="pl">Ustawienie lub usunięcie zmiennych środowiskowych menedżera systemu i usług</description>
                <description xml:lang="ru">Настроить переменные окружения для системного менеджера</description>
                <description xml:lang="sv">Ställ in eller ta bort miljövariabler för system- och servicehanterare</description>
                <description xml:lang="zh_TW">設定或取消設定系統及服務管理員環境變量</description>
                <message>Authentication is required to set or unset system and service manager environment variables.</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для ўсталявання або скіду зменных асяроддзя сістэмнага мэнэджэра.</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia ŭstaliavannia abo skidu zmiennych asiaroddzia sistemnaha menedžera.</message>
                <message xml:lang="es">Se requiere autenticación para administrar las variables de entorno del sistema y del gestor de servicios.</message>
                <message xml:lang="fr">Authentification requise pour définir ou supprimer des variables d'environnement du système ou du gestionnaire de services.</message>
                <message xml:lang="it">Autenticazione richiesta per configurare le variabili d'ambiente per la gestione dei servizi e del sistema</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ustawić lub usunąć zmienne środowiskowe menedżera systemu i usług.</message>
                <message xml:lang="ru">Чтобы настроить переменные окружения для системного менеджера, необходимо пройти аутентификацию.</message>
                <message xml:lang="sv">Autentisering krävs för att ställa in eller ta bort miljövariabler för system- och servicehanterare.</message>
                <message xml:lang="zh_TW">設定或取消設定系統及服務管理員環境變量時需要驗證</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

        <action id="org.freedesktop.systemd1.reload-daemon">
                <description>Reload the systemd state</description>
                <description xml:lang="be">Перачытаць стан systemd</description>
                <description xml:lang="be@latin">Pieračytać stan systemd</description>
                <description xml:lang="de">Den systemd-Zustand neu laden</description>
                <description xml:lang="es">Recargar el estado de systemd</description>
                <description xml:lang="fr">Recharger l'état de systemd</description>
                <description xml:lang="hu">A systemd állapotának újratöltése</description>
                <description xml:lang="it">Riavviare lo stato di systemd</description>
                <description xml:lang="pl">Ponowne wczytanie stanu systemd</description>
                <description xml:lang="pt_BR">Recarregar o estado do sistema</description>
                <description xml:lang="ru">Перечитать конфигурацию systemd</description>
                <description xml:lang="sv">Läs om tillståndet för systemd</description>
                <description xml:lang="zh_TW">重新載入 systemd 狀態</description>
                <message>Authentication is required to reload the systemd state.</message>
                <message xml:lang="be">Неабходна аўтэнтыфікацыя для перачытання стану systemd.</message>
                <message xml:lang="be@latin">Nieabchodna aŭtentyfikacyja dlia pieračytannia stanu systemd.</message>
                <message xml:lang="de">Legitimierung ist zum erneuten Laden des systemd-Zustands notwendig.</message>
                <message xml:lang="es">Se requiere autenticación para recargar el estado de systemd.</message>
                <message xml:lang="fr">Authentification requise pour recharger l'état de systemd</message>
                <message xml:lang="hu">Hitelesítés szükséges a systemd állapotának újratöltéséhez.</message>
                <message xml:lang="it">Autenticazione richiesta per riavviare lo stato di sistemd.</message>
                <message xml:lang="pl">Wymagane jest uwierzytelnienie, aby ponownie wczytać stan systemd.</message>
                <message xml:lang="pt_BR">É necessária autenticação para recarregar o estado do sistema.</message>
                <message xml:lang="ru">Чтобы заставить systemd перечитать конфигурацию, необходимо пройти аутентификацию.</message>
                <message xml:lang="sv">Autentisering krävs för att läsa om tillståndet för systemd.</message>
                <message xml:lang="zh_TW">重新載入 systemd 狀態需要驗證。</message>
                <defaults>
                        <allow_any>auth_admin</allow_any>
                        <allow_inactive>auth_admin</allow_inactive>
                        <allow_active>auth_admin_keep</allow_active>
                </defaults>
        </action>

</policyconfig>